body{
    /* font-family:arial; */ /* tiene que reconocer, uno guardado */
    font-family:Arial, Helvetica, sans-serif;
    font-size:12.5px;
}

#factura{
    padding:.25cm;
    border:1px dotted rgb(92, 92, 92);
    width: 756px; /* impreso por defecto ocupa todo */    
    /* margin:auto; */
}

table, tr, td{
    margin:0;
    padding:0;            
}

#izq,#der, #cabecera, #contenido
{
    border:1px solid black;
    border-radius:4px;         
}

#izq, #der{
    padding: 5px;
    /* height:92px !important; */
}

#izq_cont, #der_cont{
    border-collapse:collapse;
    text-align:center;
}

#izq{
    /* display:inline-block; */
    width:400px;  
}

#izq_cont{
    /* float:right; */
    margin-left:63px;
    /* border:1px solid black;     */
}

/* #izq_cont td{
    border:1px solid black;
} */

/* #izq{
    padding-top: 10px;
} */

/* #izq td{
    padding-bottom:5px;
} */
/* #der{
    padding-top:10px;
}
#der td{
    padding-bottom:10px;
} */

.logo{
    border-radius:5%;
    display:table-cell;
    opacity: .8;
}

#cabecera{
    padding: 6px 7px 0px 7px;
    /* font-size:14px !important; */
    font-family:Arial, Helvetica, sans-serif;
}

#cabecera_cont{
    border-collapse:collapse;
    width:100%;
    height:65px;
}

.cab_izq{
    width:430px;        
}

#der_cont{
    height:80px;
}

.pad{
    padding-left:5px;
}

span{
    color:rgb(82, 82, 82)
}

#cabecera td{
    padding-bottom:5px;
}

.separador{
    height:1px;
    font-size:1px;
}

#tabla_det{
    border-collapse:collapse;
}

#tabla_det td:last-child{
    border-right:none;
}

#tabla_det{
    /* height:fit-content; */
    text-align:center;
    width:100%;
}

#head td, #head2 td, #head3 td{
    border-bottom:1px solid black;
    border-right:1px solid black;
    background:#CF0000;
    opacity: .9;
    color:white;
}

#head2 td:nth-child(5){
    border-right:none;
}

#head2 td:nth-child(4){
    border-right:none;
}

#head3 td:nth-child(1),
#head3 td:nth-child(2),
#head3 td:nth-child(3){
    border-right:none;
}

.linea td{        
    border-right:1px solid black;
    padding: 2px 0;
    vertical-align:top;
}

.linea td:nth-child(4), .linea td:nth-child(5),
.linea td:nth-child(6), .linea td:nth-child(7)
{        
    border:none;
}

.codigo{
    width: 31px;
}
.cantidad{
    width: 34px;
}
.descripcion{
    width: 221px;
}
.normal{
    width: 54px;
}
.cliente{
    width: 55px;
}
.mayorista{
    width: 61px;
}
.dia{
    width: 55px;
}
.saldo{
    width: 55px;
}
.exentas{
    width: 55px;
}
.iva5{
    width: 56px;
}
.iva10{
    width: 58px;
}

#totales{
    border-collapse:collapse;
    width:100%;
}

#totales td{
    border-bottom:1px solid black;
    border-right:1px solid black;
    padding-left: 6px;
}

#totales tr:last-child td{
    border-bottom: none;
}
#totales td:last-child{
    border-right: none;
}

.total{        
    text-align:left;
    padding: 2px 6px;
}

.sub_totales{
    padding-right:0;
}

#total1{
    border-top:1px solid black;
    border-right:1px solid black;
}

#total2,#total3{
    border-top:1px solid black;
}

#total3 span{
    margin-right:80px;
    margin-left:5px;
}    

.sub_totales{
    border-top:1px solid black;border-right:1px solid black;
}

.sub_totales:last-child{
    border-right:none;
}

#total_ef{
    border-top:1px solid black;
    text-align:right;
    padding-right:6px;
}